<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-styles/default-theme.html">
<link rel="import" href="../views/view-mov.html">

<dom-module id="view-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link href="../../assets/css/bootstrap.css" rel="stylesheet" />
    <link href="../../assets/css/style.css" rel="stylesheet" />

<app-localstorage-document key="data.local" data="{{islog}}"></app-localstorage-document>
<template is="dom-if" if="{{_isEqualTo(is_mov, 'NOK')}}" >
  <div class="row">
         <div class="col-md-12 col-sm-12 col-xs-12">
             <div class="panel panel-success">
               <div class="panel-heading">
                  Lista de Cuentas del Usuario {{islog.user.nombre}} {{islog.user.apellido}}
               </div>
               <div class="panel-body">
                   <div class="table-responsive">
                       <table class="table table-striped table-bordered table-hover">
                           <thead>
                               <tr class="text-center">
                                   <th>Cuenta</th>
                                   <th>Saldo</th>
                                    <th>ver Movimientos</th>
                               </tr>
                           </thead>
                           <tbody>
                               <template is="dom-repeat" items={{accounts}} as="val">
                                   <tr>
                                       <td>{{val.idCuenta}}</td>
                                       <td>{{val.saldo}}</td>
                                       <td> <button class="btn btn-success"  on-tap='_Mov' data-args$='[[val]]' >Mov.</button></td>
                                   </tr>
                                 </template>
                           </tbody>
                       </table>
                   </div>
               </div>
           </div>
    </div>
  </template >

  <!-- VIEW MOV-->
  <template is="dom-if" if="{{_isEqualTo(is_mov, 'OK')}}">
         <view-mov api=[[api]] user=[[user]] account=[[account]] is_mov={{is_mov}} on-refaccount="isRefresh" ></view-mov>
  </template >


  <iron-ajax
    id="doAccountsGet"
    auto
    url=[[api.api_host]][[api.api_accounts]]/{{islog.user.idCliente}}
    content-type="application/json"
    method="GET"
    handle-as="json"
    on-response="accountsAJAXResponse"
    on-error="showErrorAccounts"
    headers$='{"authorization": "{{islog.token}}"}'>

</template>

  <script>
    class ViewCuentas extends Polymer.Element {
      static get is() { return 'view-cuentas'; }
      static get properties() {
        return {
          accounts: {
            type: Array
          },
          is_mov: {
            type: String,
            value:"NOK"
          },
          is_refresh: {
            type: String,
            value:"1"
          },
          api: {
            type: Object
          },
          account: {
            type: Object,
            value: {}
          },is_account: {
            type: String,
            notify: true
          },
          islog: {
           type: Object,
           value: {}
         }
        };
      }

      accountsAJAXResponse(data) {
        this.accounts=data.detail.response;
      }

      showErrorAccounts(error) {
        console.log("Error Accounts: "+error);
      }

      _isEqualTo(title, string){
        return title == string;
      }

      isRefresh(e){
        if(e.detail.refrescar == "S"){
          this.$.doAccountsGet.generateRequest();
          e.detail.refrescar = 'N';
        }
      }

      _Mov(e){
        var val=e.model.val;
        this.account = val;
        this.is_mov="OK";
        }

}

    window.customElements.define(ViewCuentas.is, ViewCuentas);
  </script>
</dom-module>
