<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-styles/default-theme.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">

<dom-module id="view-usuarios">
  <template>
    <style>
      :host {
        display: block;
      }
      .imgUser{ width: 80px; height: 80px; }
      .paper-buton-close{ background-color: #ccc; border-radius: 13px; float: right; min-width: unset !important; margin: 10px; border: solid 2px #b2b2b2; color: #303f9f; padding: unset; width: 26px; text-align: center; }

    </style>

    <link href="../../assets/css/bootstrap.css" rel="stylesheet" />
    <link href="../../assets/css/style.css" rel="stylesheet" />

  <app-localstorage-document key="data.local" data="{{islog}}"></app-localstorage-document>

    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="panel panel-default">
               <div class="panel-heading">
                  Crear Usuario
               </div>
               <div class="panel-body text-center recent-users-sec">
                 <button class="btn btn-success"  on-tap='_Insert'>NUEVO USUARIO</button>
               </div>
          </div>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="panel panel-success">

               <div class="panel-heading">
                  Lista de Usuarios
               </div>
               <div class="panel-body">
                   <div class="table-responsive">
                       <table class="table table-striped table-bordered table-hover">
                           <thead>
                               <tr class="text-center">
                                   <th>Nombre</th>
                                   <th>Apellido</th>
                                   <th>Email</th>
                                   <th>Perfil</th>
                                   <th>Editar</th>
                                   <th>Eliminar</th>
                               </tr>
                           </thead>
                           <tbody>
                               <template is="dom-repeat" items={{users}} as="val">
                                   <tr>
                                       <td>{{val.nombre}}</td>
                                       <td>{{val.apellido}}</td>
                                       <td>{{val.email}}</td>
                                       <td>{{val.perfil}}</td>
                                       <td> <button class="btn btn-success"  on-tap='_Edit' data-args$='[[val]]' >Editar</button></td>
                                       <td><button  class="btn btn-success"  on-tap='_Delete' data-args$='[[val]]' >Eliminar</button></td>
                                   </tr>
                                 </template>
                           </tbody>
                       </table>
                   </div>
               </div>
           </div>
    </div>

<!-- POP CREAR -EDIT USUARIO-->
    <paper-dialog id='popLocal' modal style="overflow-y: scroll;">
      <paper-button dialog-dismiss class="paper-buton-close"> X </paper-button>
      </br>
      <div class="alert alert-info" role="alert" style="text-align:center;">OPERACION USUARIO</div>
         <div class="card" style="width: 18rem;">
           <div class="text-center">
             <template is="dom-if" if="{{isInsert}}">
               <img src="../../assets/img/user.png" class="rounded imgUser" alt="Responsive image">
             </template>
             <template is="dom-if" if="{{!isInsert}}">
               <img src="../../assets/img/edit_user.png" class="rounded imgUser" alt="Responsive image">
             </template>
           </div>
           <div class="card-body">
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" id="nombre" placeholder="Ingresar Nombre" value="{{user.nombre::input}}" required>
            </div>
            <div class="form-group">
              <label for="apellido">Last Name</label>
              <input type="text" class="form-control" id="apellido" placeholder="Ingresar Apellido" value="{{user.apellido::input}}" required>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Ingresar Email" value="{{user.email::input}}" required>
            </div>
            <template is="dom-if" if="{{isInsert}}">
             <div class="form-group">
               <label for="pass">Password</label>
               <input type="password" class="form-control" id="pass" placeholder="Ingresar Password" value="{{user.password::input}}" required>
             </div>
             <div class="form-group">
               <label for="perfil">Perfil</label>
               <select class="form-control" id="perfil" value="{{user.perfil::input}}" required>
                 <option>basico</option>
                 <option>admin</option>
               </select>
             </div>
            </template>
            <template is="dom-if" if="{{!isInsert}}">
              <button class="btn btn-success" on-tap="_UpdateService">Actualizar</button>
            </template>
            <template is="dom-if" if="{{isInsert}}">
              <button class="btn btn-success" on-tap="_InsertService">Aceptar</button>
            </template>
           </div>
         </div>
    </paper-dialog>

<!-- POP ELIMINAR USUARIO-->
    <paper-dialog id='popLocalConfirm' modal>
      <paper-button dialog-dismiss class="paper-buton-close"> X </paper-button>
    </br>
      <div class="alert alert-info" role="alert" style="text-align:center;">CONFIRMACION</div>
         <div class="card" style="width: 18rem;text-align:center;">
           <img src="../../assets/img/confirma.png" class="img-fluid" alt="Responsive image" style="width:50%">
           <div class="card-body">
             <br />
             <br />
            <div class="form-group">
              <label>Confirme la eliminacion del registro?</label>
            </div>
              <button class="btn btn-success" on-tap="_DeleteService">Confirmar</button>
           </div>
         </div>
    </paper-dialog>

<!--MENSAJES-->
    <paper-dialog id='messageGlobal' modal>
      <paper-button dialog-dismiss class="paper-buton-close"> X </paper-button>
      <div class="{{messageStyle::input}}" role="alert">
        {{message::input}}
      </div>
    </paper-dialog>



<!-- API AJAX-->
    <iron-ajax
      id="doUsersGet"
      auto
      url=[[api.api_host]][[api.api_users]]
      content-type="application/json"
      method="GET"
      handle-as="json"
      on-response="usersAJAXResponse"
      on-error="showError"
      headers$='{"authorization": "{{islog.token}}"}'>

    <iron-ajax
      id="doUserPost"
      url=[[api.api_host]][[api.api_users]]
      content-type="application/json"
      method="POST"
      handle-as="json"
      on-response="userPostAJAXResponse"
      on-error="showError"
      headers$='{"authorization": "{{islog.token}}"}'>

    <iron-ajax
      id="doAccountPost"
      url=[[api.api_host]][[api.api_accounts]]
      content-type="application/json"
      method="POST"
      handle-as="json"
      on-response="userAccountAJAXResponse"
      on-error="showError"
      headers$='{"authorization": "{{islog.token}}"}'>

    <iron-ajax
      id="doUserPut"
      url=[[api.api_host]][[api.api_users]]/{{user.idCliente}}
      content-type="application/json"
      method="PUT"
      handle-as="json"
      on-response="userPutAJAXResponse"
      on-error="showError"
      headers$='{"authorization": "{{islog.token}}"}'>

    <iron-ajax
      id="doUserDelete"
      url=[[api.api_host]][[api.api_users]]/{{user.idCliente}}
      content-type=""
      method="DELETE"
      handle-as=""
      on-response="userDeleteAJAXResponse"
      on-error="showError"
      headers$='{"authorization": "{{islog.token}}"}'>

  </template>

  <script>
    class ViewUsuarios extends Polymer.Element {
      static get is() { return 'view-usuarios'; }
      static get properties() {
        return {
          users: {
            type: Array
          },
          api: {
            type: Object
          },
          user: {
            type: Object,
            value:{}
          },
          isInsert: {
            type: Boolean,
            value:false
          },
          islog: {
            type: Object,
            value: {}
          },
          crearcount: {
            type: String
          },
          message: {
            type: String
          },
          messageStyle: {
            type: String
          }
        };
      }

      usersAJAXResponse(data) {
        this.users=data.detail.response;
        if(this.crearcount=='S'){
          this.crearcount='N';
          this.user = this.users[this.users.length - 1];
          this.$.doAccountPost.body = JSON.stringify(this.user);
          this.$.doAccountPost.generateRequest();
        }
      }

      showError(error) {
        this.message="";
        this.messageStyle="alert alert-danger";
        for (var i in error.detail.request.response)
          this.message+=error.detail.request.response[i].msg+",";
        this.$.messageGlobal.open();
      }

      _Edit(e){
        var val=e.model.val;
        this.isInsert=false;
        this.user = {
          "email" : val.email,
          "nombre" : val.nombre,
          "apellido" : val.apellido,
          "idCliente" : val.idCliente
        }
        this.$.popLocal.open();
      }

      _Insert(){
        this.user = {};
        this.isInsert=true;
        this.$.popLocal.open();
      }

      _Delete(e){
        var val=e.model.val;
        this.user = {
          "idCliente" : val.idCliente
        }
        this.$.popLocalConfirm.open();
      }

      _InsertService(){
        this.crearcount='S';
        this.$.doUserPost.body = JSON.stringify(this.user);
        this.$.doUserPost.generateRequest();
      }

      _UpdateService(){
        this.$.doUserPut.body = JSON.stringify(this.user);
        this.$.doUserPut.generateRequest();
      }

      _DeleteService(){
        this.$.doUserDelete.generateRequest();
        this.$.popLocalConfirm.close();
      }

      userPostAJAXResponse(data) {
        this.$.doUsersGet.generateRequest();
        this.$.popLocal.close();
      }

      userAccountAJAXResponse(data) {
        this.message="";
        this.messageStyle="alert alert-success";
        this.message="Cuenta creada correctamente";
        this.$.messageGlobal.open();
      }

      userPutAJAXResponse(data) {
        this.$.doUsersGet.generateRequest();
        this.$.popLocal.close();
      }

      userDeleteAJAXResponse(data) {
        this.$.doUsersGet.generateRequest();
      }
  }
  window.customElements.define(ViewUsuarios.is, ViewUsuarios);
  </script>
</dom-module>
