<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../views/view-usuarios.html">
<link rel="import" href="../views/view-cuentas.html">

<dom-module id="capc-init">
  <template>
    <style>
      :host {
        display: block;
      }
      .imgLogo{ width: 250px; height: 100px; }
    </style>

    <link href="../../assets/css/bootstrap.css" rel="stylesheet" />
    <link href="../../assets/css/style.css" rel="stylesheet" />

    <app-localstorage-document key="data.local" data="{{islog}}"></app-localstorage-document>

    <header>
      <div class="container">
        <div class="row ">
          <div class="right-div">
            <button class="btn btn-warning pull-right" on-tap="logout">LOG ME OUT</button>
          </div>
        </div>
        <div class="row ">
            <div class="col-md-6">
              <img src="assets/img/logo.png" class="img-fluid imgLogo" alt="TechU - Partitioner"/>
            </div>
            <div class="col-md-6">
                <h1>TechU - Practitioner</h1>
            </div>
          </div>
        </div>
    </header>
    <!-- LOGO HEADER END-->
    <section class="menu-section">
        <div class="container">
            <div class="row ">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <li></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <div class="content-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-6">
              <template is="dom-if" if="{{_isEqualTo(islog.isLogin, 'OK')}}">
                <template is="dom-if" if="{{_isEqualTo(islog.user.perfil, 'admin')}}">
                  <view-usuarios api=[[api]] ></view-usuarios>
                </template>
                <template is="dom-if" if="{{!_isEqualTo(islog.user.perfil, 'admin')}}">
                  <view-cuentas api=[[api]] ></view-cuentas>
                </template>
              </template>
            </div>
          </div>
         </div>
    </div>

    <section class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                   &copy; 2019 Bbva.com |<a href="http://www.bbva.com/" target="_blank"  > Designed by : Carlos Peralta</a>
                </div>
            </div>
        </div>
    </section>

 </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CapcInit extends Polymer.Element {
      static get is() { return 'capc-init'; }
      static get properties() {
        return {
          api: {
            type: Object
          },
            islog: {
            type: Object,
            value: {}
          }
        };
      }

      _isEqualTo(title, string) {
        return title == string;
      }

      logout() {
        this.dispatchEvent(new CustomEvent('logout-ok'));
      }
    }

    window.customElements.define(CapcInit.is, CapcInit);
  </script>
</dom-module>
